@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  --color: #75bf7a;
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #f9f9f9;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 145px;
  padding-left: 80px;
  padding-right: 80px;
}
.logo {
  display: flex;
  align-items: center;
}
.links {
  display: flex;
  align-items: center;
  gap: 46px;
  list-style: none;
}
.links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 17px;
}
.links button {
  border-radius: 6px;
  background-color: var(--color);
  color: white;
  font-size: 22px;
  font-weight: 600;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
}
.main-section {
  display: flex;
  height: 70vh;
  margin-left: 80px;
  margin-right: 80px;
}
.download {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.download h1 {
  font-weight: 800;
  font-size: 61px;
}
.download p {
  color: #9e9da2;
  font-weight: 500;
  font-size: 24px;
}
.button {
  display: flex;
  justify-content: space-between;
}
.my-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 24px;
  font-weight: 800;
  border: none;
  border-radius: 5px;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 32px;
  padding-right: 32px;
}
.car-img {
  width: 50%;
  display: flex;
  justify-content: center;
}
.apply {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 80px;
  margin-right: 80px;
  height: 166px;
  background-color: var(--color);
  border-radius: 10px;
  justify-content: space-around;
}
.apply p {
  color: white;
  font-size: 24px;
  font-weight: 600px;
}
.apply input {
  border-radius: 4px;
  height: 67px;
  width: 500px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  padding-left: 12px;
  padding-right: 12px;
}
.apply input:focus {
  outline: none;
}
.apply input::placeholder {
  color: #dadada;
}
.apply button {
  height: 67px;
  width: 260px;
  border-radius: 4px;
  background-color: black;
  font-size: 22px;
  font-weight: 800;
  color: white;
}
.tere-heading {
  font-size: 46px;
  font-weight: 800;
}
.tere-heading span {
  color: var(--color);
}
.tere-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.tere-para {
  font-size: 23px;
  font-weight: 500;
  text-align: center;
  color: #9e9da2;
  width: 50%;
}
.mobile-section {
  display: flex;
  margin-top: 99px;
}
.option-left {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 300px;
  text-align: right;
  margin-left: 80px;
}
.option-left h3 {
  font-weight: 800;
  font-size: 22px;
}
.option-left p {
  font-weight: 500;
  font-size: 20px;
  color: #9e9da2;
}
.option-one {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 8px;
}
.option-three {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 8px;
}
.mobile {
  margin-left: 50px;
  margin-right: 50px;
}
.circle {
  height: 400px;
  width: 400px;
  background-color: var(--color);
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.option-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
}
.option-right h3 {
  font-weight: 800;
  font-size: 22px;
}
.option-right p {
  color: #9e9da2;
  font-size: 20px;
  font-weight: 500;
}
.option-two {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.option-four {
  margin-top: 92px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}
.slider {
  height: 13px;
  margin-top: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.benefits-heading {
  display: flex;
  justify-content: center;
  margin-top: 88px;
}
.benefits {
  display: flex;
  flex-direction: column;
  /* gap: 56px; */
  margin: 80px;
}
.benefits span {
  color: var(--color);
  width: 107px;
  height: 119px;
  font-size: 88px;
  font-weight: 500;
}
.benefits h3 {
  font-weight: 600;
  font-size: 34px;
}
.benefits p {
  font-weight: 500;
  font-size: 22px;
  color: #9e9da2;
}
.benefit-one {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  width: 80%;
  height: 304px;
  border-radius: 10px;
  padding: 25px;
}
.benefit-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.benefit-two {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  width: 80%;
  height: 304px;
  border-radius: 10px;
  padding: 25px;
  align-self: end;
  margin-top: 56px;
}
.benefit-three {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  width: 80%;
  height: 304px;
  border-radius: 10px;
  padding: 25px;
  margin-top: 56px;
}
footer {
  margin-top: 250px;
  margin-bottom: 220px;
  width: 90%;
  height: 309px;
  border: 1px solid #ececec;
  display: flex;
}
footer div {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
footer a {
  color: #9E9DA2;
  text-decoration: none;
}